{{> header }}
<!-- Para llamar parciales. Están definidos en el server-->
{{> navbar}}
<div class="row">
    <div class="col-8">
        <h1>About {{nombre}}</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis architecto sit repellendus id
            perspiciatis dignissimos nostrum maxime ratione quae distinctio iusto sed iure, sunt atque totam accusantium
            eos rem. Est!
        </p>
    </div>
    <div class="col-4">
        <img src="assets/img/mickinillo.png"
            class="img-thumbnail">
    </div>
</div>

{{> footer}}